<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title class="title">Coinbase and Circle announce the launch of USDC — a Digital Dollar</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      This is the first time Coinbase has supported a stablecoin, which is fundamentally different from other
      cryptocurrencies. Unlike bitcoin or ether, a USDC is meant to represent a single US dollar (USD) that does not
      move up or down relative to its reference currency. One USDC is a 1:1 representation of a US dollar on the
      Ethereum blockchain.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>MORE</button>
  </mat-card-actions>
</mat-card>
